@{
    ViewBag.Title = "Öğretmen Portalı";
    Layout = "~/Views/Shared/_LayoutDashboardTeacher.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
                <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Notlandırılacak Öğrenciler</h4>
        </div>
        <div class="card-body">
            <div class="material-datatables">
                <table class="table table-striped">
                    <thead>
                        <tr class="text-center">
                            <th class="text-center">#</th>
                            <th>İsim - Soy İsim</th>
                            <th>Numara</th>
                            <th>Notlandırma</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.studentsListData)
                        {
                            <tr class="text-center">
                                <td class="text-center">@item.Id</td>
                                <td>@item.Name @item.Surname</td>
                                <td>@item.No</td>
                                <td class ="td-actions text-center" id="editDel">
                                        <a type="button" rel="tooltip" id="Download" asp-controller="Teacher" asp-action="Documents" asp-route-stnId="@item.Id" class="btn btn-link btn-info btn-just-icon south" data-toggle="tooltip" title="İndir">
                                            <i class="material-icons">south</i>
                                        </a>
                                    <a type="button" rel="tooltip" id="check" asp-controller="Teacher" asp-action="Confirm" asp-route-conf="true" asp-route-stnId="@item.Id" class="btn btn-link btn-success btn-just-icon check" data-toggle="tooltip" title="Onayla">
                                            <i class="material-icons">check</i>
                                        </a>
                                    <a type="button" rel="tooltip" id="remove" asp-controller="Teacher" asp-action="Confirm" asp-route-conf="false" asp-route-stnId="@item.Id" class="btn btn-link btn-danger btn-just-icon close" data-toggle="tooltip" title="Reddet">
                                            <i class="material-icons">close</i>
                                        </a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>