@{
    ViewBag.Title = "Yönetici Portalı";
    Layout = "~/Views/Shared/_LayoutDashboardSupervisor.cshtml";
}
@model dynamic

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Yöneticiler</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">Id</th>
                                        <th>İsim</th>
                                        <th>Numara</th>
                                        <th>Şifre</th>
                                        <th class="text-center">Yönet</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.SupervisorsData)
                                    {
                                        <tr>
                                            <td class="text-center">@item.Id</td>
                                            <td>@item.Name @item.Surname </td>
                                            <td>@item.No</td>
                                            <td>@item.Pass</td>
                                            <td class="td-actions text-center" id="editDel">
                                                <a type="button" rel="tooltip" class="btn btn-success" data-toggle="modal" data-target="#exampleModalLong" title="Düzenle">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <a type="button" rel="tooltip" id="delButton" class="btn btn-danger" data-toggle="tooltip" title="Sil" href="/Supervisor/DeleteSupervisor/@item.Id">
                                                    <i class="material-icons">close</i>
                                                </a>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                            <div class="form-group has-default">
                                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <label for="currentPass" class="bmd-label-floating">Şifreniz</label>
                                                <input type="password" class="form-control" id="currentPass" required="" aria-required="true">

                                                <label for="newPass" class="bmd-label-floating">Yeni Şifre</label>
                                                <input type="password" class="form-control" id="newPass" required="" aria-required="true">
                                            </div>
                                            <div class="modal-footer">
                                                <input type="button" class="btn btn-outline-dark" id="btn_show" onclick="myFunction()" value="Şifre Gör">
                                                <input type="submit" class="btn btn-outline-dark" value="Kaydet" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Öğretmenler</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>İsim - Soy İsim</th>
                                        <th>Numara</th>
                                        <th>Şifre</th>
                                        <th>Komisyon</th>
                                        <th class="text-center">Yönet</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.TeachersData)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Name @item.Surname</td>
                                            <td>@item.No</td>
                                            <td>@item.Pass</td>
                                            @if (item.Type == true)
                                            {
                                                <td>✓</td>
                                            }
                                            else
                                            {
                                                <td>X</td>
                                            }
                                            <td class="td-actions text-center">
                                                <a type="button" rel="tooltip" class="btn btn-success" data-toggle="modal"  data-target="#exampleModalLong2" title="Düzenle">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <a type="button" rel="tooltip" class="btn btn-danger" data-toggle="tooltip" title="Sil" href="/Supervisor/DeleteTeacher/@item.Id">
                                                    <i class="material-icons">close</i>
                                                </a>
                                                </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="form-group has-default">
                                <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle2" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                            <div class="modal-body">
                                                <label for="currentPass" class="bmd-label-floating">Şifreniz</label>
                                                <input type="password" class="form-control" id="currentPass" required="" aria-required="true">

                                                <label for="newPass" class="bmd-label-floating">Yeni Şifre</label>
                                                <input type="password" class="form-control" id="newPass" required="" aria-required="true">
                                            </div>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="button" class="btn btn-outline-dark" id="btn_show" onclick="myFunction()" value="Şifre Gör">
                                                <input type="submit" class="btn btn-outline-dark" value="Kaydet" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Öğrenciler</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">Id</th>
                                        <th>İsim - Soy İsim</th>
                                        <th>Numara</th>
                                        <th>Şifre</th>
                                        <th class="text-center">Yönet</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.studentData)
                                    {
                                        <tr>
                                            <td class="text-center">@item.Id</td>
                                            <td>@item.Name @item.Surname</td>
                                            <td>@item.No</td>
                                            <td>@item.Pass</td>
                                            <td class="td-actions text-center">
                                                <a type="button" rel="tooltip" class="btn btn-success" data-toggle="modal" data-target="#exampleModalLong3" title="Düzenle">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <a type="button" rel="tooltip" class="btn btn-danger" data-toggle="tooltip" title="Sil" href="/Supervisor/DeleteStudent/@item.Id">
                                                    <i class="material-icons">close</i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <div class="form-group has-default">
                                <div class="modal fade" id="exampleModalLong3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle3" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <label for="currentPass" class="bmd-label-floating">Şifreniz</label>
                                                <input  type="password" class="form-control" id="currentPass" required="" aria-required="true">

                                                <label for="newPass" class="bmd-label-floating">Yeni Şifre</label>
                                                <input  type="password" class="form-control" id="newPass" required="" aria-required="true">
                                            </div>
                                            <div class="modal-footer">
                                                <input type="button" class="btn btn-outline-dark" id="btn_show" onclick="myFunction()" value="Şifre Gör">
                                                <input type="submit" class="btn btn-outline-dark" value="Kaydet" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>