@{
    ViewBag.Title = "Yönetici Portalı";
    Layout = "~/Views/Shared/_LayoutDashboardSupervisor.cshtml";
}
            
<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title">Öğretmenler</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th class="text-center">#</th>
                          <th>İsim</th>
                          <th>Numara</th>
                          <th>Komisyon</th>
                          <th class="text-right">Yönet</th>
                        </tr>
                      </thead>
                      <tbody>
                          @foreach (var item in ViewBag.TeachersData)
                                    {
                        <tr>
                          <td class="text-center">@item.Id</td>
                          <td>@item.Name @item.Surname </td>
                          <td>@item.No</td>
                          @if (item.Type == true)
                                            {
                                                <td>✓</td>
                                                                    }
                                                                    else{
                                                                        <td>X</td>
                                                                    }
                          <td class="td-actions text-right">
                            <button type="button" rel="tooltip" class="btn btn-info">
                              <i class="material-icons">person</i>
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-success">
                              <i class="material-icons">edit</i>
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-danger">
                              <i class="material-icons">close</i>
                            </button>
                          </td>
                        </tr>
                                        
                                    }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title">Öğrenciler</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th class="text-center">#</th>
                          <th>İsim - Soy İsim</th>
                          <th>Numara</th>
                          <th>Şifre</th>
                        </tr>
                      </thead>
                      <tbody>
                          @foreach (var item in ViewBag.studentData)
                                    {
                        <tr>
                          <td class="text-center">@item.Id</td>
                          <td>@item.Name @item.Surname</td>
                          <td>@item.No</td>
                          <td>@item.Pass</td>
                        </tr>                                        
                                    }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>